.buttons-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.button {
  flex: 1 0 21%;
  border: 1px solid grey;
}

.number-button {
}

.action-button {
}

.wide {
  background: red;
  flex: 3 0 64%;
}
