.icon-container {
  padding: 10px 0 10px 60px;
}

.icon-container p {
  display: inline;
  padding-right: 55px;
  font-family: sans-serif;
}

.fa-comment {
  padding-right: 55px;
}

.fa-retweet,
.fa-heart {
  padding-right: 10px;
}
